h1 {
    color: rgb(100, 147, 239);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    text-align: center;
  
  }

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  background-color: #ff80bf;
  display: inline;
}
