h1 {
    color: rgb(100, 147, 239);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    text-align: center;
  }

ul {
  background-color: #ff80bf;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  text-align: center;
  padding: 14px 16px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
}
